<%= div_for(comment) do %>

      <div class="card">
        <div class="card-divider">
          <%#= comment.user.email %> said:
          <% if policy(comment).destroy? %>
            <%= link_to [@submission, comment], class: "small alert button float-right", method: :delete, data: { confirm: 'are you sure?'} do %>
              <i class="fi-trash"></i>
            <% end %>
          <% end %>
        </div>
        <div class="card-section">
          <p><i>"<%= comment.body %>"</i></p>
        </div>

      </div>

<% end %>
