<%= div_for(comment) do %>

      <div class="card small-12 medium-6 large-3 float-left" style="width: 300px;">
        <div class="card-divider">
          <strong><i><%= comment.user.email %></i></strong> said
        </div>
        <div class="card-section">
          <p><i>"<%= comment.body %>"</i></p>
        </div>
        <% if comment.user == current_user %>
          <%= link_to 'Delete this comment', comment, class: "small alert button", method: :delete, data: { confirm: 'are you sure?'} %>
        <% end %>
      </div>

<% end %>
